[submodule "Plugin/OAuth"]
	path = Plugin/OAuth
	url = git://github.com/thomseddon/cakephp-oauth-server.git
[submodule "Plugin/Migrations"]
	path = Plugin/Migrations
	url = https://github.com/CakeDC/migrations.git
