div.orb-card-content {
	width       : 29.6875rem;
	margin-left : 1.25rem;
	position    : relative; }

div.orb-card-content#description {
	background-color : #b4b4b4;
	height           : 5.3125rem;
	padding          : 0.625rem;
	font-family      : "Helvetica Neue Medium Condensed", arial, sans-serif; }

div.orb-card-content#price-matrix {
	max-height : 5.3125rem; }

div.orb-card-content#price-matrix h4 {
	width       : 6.25rem;
	font-family : "Helvetica Neue Condensed Black", arial, sans-serif;
	color       : #e02027; }

div.orb-card-content#price-matrix h4#price-matrix-size {
	float : left;
	clear : left; }

div.orb-card-content#price-matrix h4#price-matrix-price {
	float : right;
	clear : right; }

div.orb-card-content#price-matrix table {
	margin   : 0;
	position : relative;
	height   : 5.3125rem; }

div.orb-card-content#price-matrix thead {
	height : 1.75313rem; }

div.orb-card-content#price-matrix tbody#stupid-fuck {
	padding    : 0;
	margin     : 0;
	height     : 60px;
	max-height : 60px;
	overflow-y : scroll; }

div.orb-card-content#price-matrix td {
	color : #373737; }

div.orb-card-content#orb-card-options {
	background-color : #373737; }