/**************************************************************

                              3D SHIT

***************************************************************/
.html5-3d-perspective-container {
  position            : relative;
  -webkit-perspective : 800px;
  -moz-perspective    : 800px;
  -o-perspective      : 800px;
  perspective         : 800px;
}

.html5-3d-context {
  position           : absolute;
  width              : 100%;
  height             : 100%;
  -webkit-transition : -webkit-transform 1s opacity 0.3s;
  -moz-transition    : -moz-transform 1s;
  -o-transition      : -o-transform 1s;
  transition         : transform 1s;
//  &.flips-over-x { transform-origin:  bottom center; }
  &.flipped-x { transform : rotateX(180deg); }
  &.flipped-y { transform : rotateY(180deg); }
}

.preserve-3d {
  -webkit-transform-style : preserve-3d;
  -moz-transform-style    : preserve-3d;
  -o-transform-style      : preserve-3d;
  transform-style         : preserve-3d;
}

.card-face {
  display                     : block;
  position                    : absolute;
  width                       : 100%;
  height                      : 100%;
  -webkit-backface-visibility : hidden;
  -moz-backface-visibility    : hidden;
  -o-backface-visibility      : hidden;
  backface-visibility         : hidden;
}
.back-face-x {  transform : rotateX(180deg); }
.back-face-y {  transform : rotateY(180deg); }