//----------------------------------------------------------------------------------------------------------------MIXINS
@mixin unselectable() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin flipped() {
  -moz-transform    : scaleX(-1);
  -o-transform      : scaleX(-1);
  -webkit-transform : scaleX(-1);
  transform         : scaleX(-1);
  filter            : FlipH;
  -ms-filter        : "FlipH";
}

@mixin portraitBG() {
  background-repeat: no-repeat;
  background-size:contain;
  background-position:center;
}

@mixin tightContent() {
  padding:0;
  margin:0;
}

@mixin disableWithOpacity($opacity: 0.33) {
  &.disabled {
    opacity:$opacity;
  }
}

@mixin global-transition($attr) {
  transition: $attr 0.3s ease-out;
}

/* TYPOGRAPHY */
$button-font-family: "Helvetica Neue Condensed Black";
//-------------------------------------------------------------------------------------------------------------TEMPLATES
$topnav-height: rem-calc(65px);
$topnav-h1-padding: 0 0 0 0;
$topnav-h1-margin: (0.9*$topnav-height - $h1-font-size)/2 rem-calc(10px) 0 rem-calc(10px);
$topnav-h1-height: $topnav-height - $topnav-h1-padding - $topnav-h1-margin;

$focus-pane-height: rem-calc(360);


/*  SPLASH  */
$splash-content-height: 80%;
$splash-bar-height:20%;
$splash-logo-height: 90%;
$big-radius: 16px;


/*   MENU   */
$float-pane-margin: rem-calc(20px);
$float-pane-border-width: rem-calc(8px);
$orbcat-border-width: 1px;
$orbcat-border-factor: 10%;
$orbcat-border-factor-2: 15%;
$orbcat-menu-width: rem-calc(800px);
$orbcat-menu-height: rem-calc(380px);
$orbcat-menu-item-height: 0.25 * $orbcat-menu-height;
$orbcat-menu-icon-size: 0.15 * $orbcat-menu-height;
$orbcat-menu-title-font-size: 0.2 * $orbcat-menu-height;
$orbcat-menu-anchor-height: 0.1 * $orbcat-menu-height;
$orbcat-menu-margin-top: 0.3 * $orbcat-menu-height;
$user-activity-height: $orbcat-menu-height + $float-pane-margin;
$user-activity-panel-width: 0.25 * $user-activity-height;
$user-activity-panel-height: $user-activity-panel-width;
$user-activity-panel-font-size: 0.2 * $user-activity-panel-width;
$orb-card-stage-height: rem-calc(360px); // todo: media queries yo
$orb-card-wrapper-width: rem-calc(1200px);
$min-orb-list-width: rem-calc(350px);
$orb-card-stage-width: $orb-card-wrapper-width - $min-orb-list-width;
$orb-card-stage-menu-width: 0.5 * $orb-card-wrapper-width;
$orb-card-stage-menu-item-height: 0.2 * $orb-card-stage-height;
$orb-card-stage-menu-padding-left: 0.33333 * $orb-card-stage-menu-width;
$orb-card-width:  0.5 * $orb-card-wrapper-width;
$orb-card-height: 0.533333 * $orb-card-width;
$orb-card-padding: rem-calc(10px);
$orb-card-inner-width: $orb-card-width - (2 * $orb-card-padding);
$orb-card-margin-left: 0.5 * $user-activity-panel-width;
$orb-card-shadow-position:  ($orb-card-margin-left - (0.107 * $orb-card-width)) ($orb-card-height - rem-calc(4px) );
$orb-card-shadow-size: $orb-card-width * 1.2 rem-calc(25px) ; // ie. 10% width of orbcard in both directions;
$orb-card-row-height:rem-calc(85px);
$orb-card-button-width:$orb-card-row-height;
$orb-card-button-height:$orb-card-row-height;
$orb-card-content-width: $orb-card-inner-width - $orb-card-button-width - $float-pane-margin; // float-pane-margin is used as button/content separation width
$orb-card-scrollbar-width: rem-calc(10px);
$orb-card-price-table-padding-right: rem-calc(25px);
$orb-card-price-table-padding-left: rem-calc(15px);