ul {
  li {
    list-style-type: none;
  }
}

button.unavailable {
  background-color:rgb(225,225,225);
  background-image:url("../img/order_coming_soon.png");
  @include portraitBG;
}

.tight { @include tightContent();}