//FRAMES & CONTAINERS
section { margin-bottom : 1rem; }

.inline-wrapper {
  display:inline-block;
  vertical-align: top;
}

.block { display: block; }
.box-wrapper {
  border:8px solid $white;
  box-shadow:5px 5px 35px rgba(0,0,0,.75);
}
section.pagespan {
  height            : $focus-pane-height;
  margin-top        : rem-calc(15);
  background-repeat : no-repeat;
  background-size   : cover;
}

.l-0 { z-index : 9999; }
.l-1 { z-index : 9000; }
.l-2 { z-index : 8000; }
.l-3 { z-index : 7000; }

.spacer { @include unselectable; }


ul.container {
  margin : 0;
}

ul.horizontal {
  li {
    display:inline-block;
  }
}

ul.vertical {
  li { display:block;}
}
// DECORATION CLASSES
.xtreme-blue { background-color : $xtreme-blue; }