//FRAMES & CONTAINERS
section { margin-bottom : 1rem; }
.block { display: block; }
.float-pane {
  border:$float-pane-border-width solid $white;
  box-shadow:$float-pane-shadow-offset $float-pane-shadow-offset $float-pane-shadow-size $black-a66;
}
section.pagespan {
  height            : $focus-pane-height;
  margin-top        : rem-calc(15);
  background-repeat : no-repeat;
  background-size   : cover;
}

.l-0 { z-index : 9999; }
.l-1 { z-index : 9000; }
.l-2 { z-index : 8000; }
.l-3 { z-index : 7000; }
footer {
  position:relative;
  background-color:$dark-grey;
  height: $footer-height;
  margin-top: $footer-top-margin;
}
.spacer { @include unselectable; }


ul.container {
  margin : 0;
}

ul.horizontal {
  li {
    display:inline-block;
  }
}

ul.vertical {
  li { display:block;}
}
// DECORATION CLASSES
.xtreme-blue { background-color : $xtreme-blue; }