@font-face {
  font-family : "Helvetica Neue Condensed Black";
  src         : url("../files/HelveticaNeueLTStd-BlkCn.otf");
}

@font-face {
  font-family : "Helvetica Neue Medium Condensed";
  src         : url("../files/HelveticaNeueLTStd-MdCn.otf");
}

@font-face {
  font-family : "Helvetica Neue Thin";
  src         : url("../files/HelveticaNeueLTStd-Th.otf");
}

@font-face {
  font-family : "Helvetica Neue Ultra Light";
  src         : url("../files/HelveticaNeueLTStd-UltLt.otf");
}

@mixin mouse-memoirs {
  font-family : "Mouse Memoirs", sans-serif;
}

@mixin Fredericka {
  font-family : "Fredericka the Great", sans-serif;
}

@mixin HelveticaBlkCn {
  font-family : "Helvetica Neue Condensed Black", arial, sans-serif;
}

@mixin HelveticaMdCn {
  font-family : "Helvetica Neue Medium Condensed", arial, sans-serif;
}

@mixin HelveticaTh {
  font-family : "Helvetica Neue Thin", arial, sans-serif;
}

@mixin HelveticaUltLt {
  font-family : "Helvetica Neue Ultra Light", arial, sans-serif;
}

*.body-font-color { color : $body-font-color; }

span.block { display : block; }

span.header-red { color : $xtreme-red; }

span.header-thin { @include HelveticaTh; }

/**************************************************************

                        MENU

***************************************************************/

/*      USER ACTIVITY PANEL     */
#user-activity-panel {
  a {
    @include HelveticaUltLt;
    @include global-transition(color);
    text-align  : center;
    line-height : 0.25 * $user-activity-panel-height;
    padding-top : 0.25 * $user-activity-panel-height;
    width       : $user-activity-panel-width;
    height      : $user-activity-panel-height;
    font-size   : $user-activity-panel-font-size;
    &:hover { color : invert($body-font-color); }

  }
  h2 {
    font-size   : $h3-font-size;
    line-height : $user-activity-panel-height;
  }
}

/*           ORBCAT MENU         */
#orbcat-menu-title h1 {
  text-align     : left;
  letter-spacing : rem-calc(-3);
  font-size      : $orbcat-menu-title-font-size;
  line-height    : $orbcat-menu-title-font-size * 1.3;
  color          : $white;
}

ul#orbcat-menu li {
  line-height : 1.5 * $orbcat-menu-item-height;
  text-align  : center;
  a {
    @include global-transition(color);
    @include HelveticaMdCn;
    color       : $body-font-color;
    font-size   : rem-calc(14px);
    line-height : 0.1 * $orbcat-menu-height;
    &:hover { color : $xtreme-yellow; }
  }
}

/*          ORB CARD            */
.orb-card {
  h4#hidden-description {
    line-height    : .55 * $h4-font-size;
    letter-spacing : rem-calc(-0.5px);
    padding        : 0;
    margin         : 0;
    position       : absolute;
    bottom         : 0;
    right          : rem-calc(5px);
    color          : darken($light-grey, 7%);
  }
}

div.orb-card-button {
  text-align : center;
}
#active-orbs-menu {
}
div.orb-card-content {
  &#description { @include HelveticaMdCn; }
  &#price-matrix {
    @include HelveticaMdCn;
    color: $text-grey;
    h4 {
      color : $xtreme-red;
    }
    li div{
    };
  }
  &#orb-card-options {
    background-color : $text-grey;
  }
}

.orb-size-panel {
  li {
    h3 {
      color:$white;
      text-align:center;
    }
  &.active {
    h3 { color:$dark-grey;}
  }
  }
}
