@font-face {
  font-family: "Helvetica Neue Condensed Black";
  src: url("../files/HelveticaNeueLTStd-BlkCn.otf");
}

@mixin mouse-memoirs {
  font-family:"Mouse Memoirs", sans-serif;
}

@mixin Fredericka {
  font-family:"Fredericka the Great", sans-serif;
}

@mixin HelveticaBlCn {
  font-family:"Helvetica Neue Condensed Black", arial, sans-serif;
}

h1.orb-card, h2.orb-card, h3.orb-card, h4.orb-card, h5.orb-card { @include HelveticaBlCn;}