
#flash {
  position : relative;
  width    : 600px;
  margin   : 0 auto;
  display  : inline-block;
}


main#menu.pane {
  // strange_bullseyes.jpg -> source: http://subtlepatterns.com, author: Christopher Buecheler (http://cwbuecheler.com)
  background-image    : url("../img/xtreme-red-gradient.png"), url("../img/strange_bullseyes.png");
  background-repeat   : repeat-x, repeat;
  background-position : left 1rem, top left;
  background-size     : 100% $topnav-height, auto auto;
}



