
ul.orbcard-list {
    padding:1rem;
}

li.orbcard {
  padding:1rem;
  margin-bottom:1.5rem;
  color:$dark-grey;
  border:1px solid rgb(125,125,125);
  background-color:$white;
  border-radius: $big-radius;


}

img.orb-card-thumb {
  width:100%;
  height:100%;
  margin: 0 0 1rem 0;
}