
ul.orbcard-list {
    padding:1rem;
}

li.orbcard {
  padding:1rem;
  margin-bottom:1.5rem;
  color:$dark-grey;
  border:1px solid rgb(125,125,125);
  background-color:$white;
  border-radius: $big-radius;
  dd,dt {
    display:inline-block;
    clear:both;
  }
}

img.orb-card-thumb {
  width:6rem;
  height:6rem;
}