#modal-overlay-container {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:3000px;
  background-color:$black-a50;
  z-index:10000;
  overflow:hidden;
}

#close-modal {
  span {
    display:inline-block;
    font-size:rem-calc(12px);
    &:first-of-type {
      line-height:rem-calc(24px);
      @include HelveticaLtCn;
    }
  }
  &:hover span {
    color:$light-grey;
  }
  &.flash {
    span {
      color: $white;
      &:last-of-type { padding-right:0.5rem;}
    }
    &:hover span { color:$light-grey;}
  }
}

#flash-modal {
  position: fixed;
  z-index:10001;
  width:40rem;
  height: 6rem;
  &.slide-up {-webkit-transform: translateY(-2000px) !important;}
  #flash-modal-content {
    width:100%;
    border:3px solid white;
    background-color: $xtreme-blue;
    border-radius:0.75rem;
    padding:$base-padding;
  }

}

#splash-modal {
  position: fixed;
  top:0;
  left:0;
  z-index:10001;
  padding:$base-padding;
}

#primary-modal {
  * { color:$text-grey;}
  position:fixed;
  top:0;
  left:0;
  border: $float-pane-border-width solid $white;
  -webkit-transition: transform $global-transition-time, height $global-transition-time;
  @include primary-modal-bg;
  min-width:600px;
  max-width: $row-width;
  min-height:200px;
  height:auto;
  z-index:10001;
  overflow-x:hidden;
  overflow-y:auto;
  padding: $base-padding;
  input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
    padding:$tight-padding;
    padding-top: $medium-padding;
    margin-bottom:$tight-padding;
  }

  select, select option { @include  HelveticaLtCn;}
  div.modal-header {
    * { font-size:.8rem;}
    a {
      color: $xtreme-blue;
      &:hover { color: lighten($xtreme-blue, 10%); }
    }
    @include HelveticaLtCn;
  }
  .modal-submit {
    color: $white;
    font-size: $h3-font-size;
    @include HelveticaBlkCn;
    @include helvetica_v_center_lh($h3-font-size, $h3-font-size + $base-padding);
    background-color: $xtreme-blue;
    width:inherit;
    padding: $base-padding $base-padding 0 $base-padding  ;
    text-align: center;
    display:block;
    &:hover { background-color: lighten($xtreme-blue, 10%);}
  }
  input.error {
    border: 1px solid $error-color;
  }
  label.error, label.error * {
    color: $error-color;
    @include HelveticaLtCn;
  }
  .deferred-content {
    &.slide-left {
      -webkit-transform: translateX(-1500px);
    }
  }
  .default-content {
    &.slide-right{ -webkit-transform: translateX(1500px);
    }
  }
  &.slide-down { -webkit-transform: translateY(1500px);}
}


#orbcard-modal {
  height      : $order-modal-height;
  width       : $orb-card-wrapper-inner-width + rem-calc(2px);
  top         : $order-modal-top;
  overflow-x  : hidden;
  z-index     : 8999;
  margin-left : rem-calc(-2px);
  padding-left:0 !important;

  #orbcard-modal-content {
  * { color: $text-grey;}
    margin-top       : $order-modal-content-shadow-size;
    height           : $order-modal-content-height;
    width            : $orb-card-wrapper-width;
    background-color : $white-a90;
    box-shadow       : 0 0 $base-padding $black-a33;
    padding          : $tight-padding;
    border-top       : 1px solid $text-grey;
    border-bottom    : 1px solid $text-grey;
    li { padding : 0; }
  }
  a {
    @include HelveticaLtCn;
      font-size:$h4-font-size;
      transition: color $global-transition-time, text-shadow $global-transition-time;
    &:hover {
      color: $xtreme-blue;
      text-shadow: 0 0 2px $xtreme-blue-a50;
    }

    }
}


// VIEW CART MODAL
div.view-cart-row {
  span  {
    position: relative;
    display:inline-block;
  }
  &.cart-header {
    @include HelveticaMdCn;
    div {background-color:$white;}
    span { top:0.15em;}
  }
  &:nth-of-type(odd) .row-wrapper { background-color:$black-a15;}
  &:nth-of-type(even) .row-wrapper { background-color:$black-a05;}
  .secondary-row {
    margin-top:-.2rem;
    @include HelveticaLtCn;
    font-size:0.8rem;
  }
  .orbopts {
    margin-top:-.5rem;
    a {
      background-color:$white;
      padding: rem-calc(2px) $medium-padding 0 $medium-padding;
      border-radius:$global-rounded;
      &:hover { background-color:$xtreme-red;}
    }
    span  {
      top:rem-calc(2px);
      &.opt-label {top:0;}
    }
  }
  .preparation-instructions { font-style: italic;}
  .primary-row span {
    top: .3rem;
    height:1rem;
    &.icon-cancel {
      top:0;
      &:hover { color:$xtreme-red !important;}
    }
  }

  &.total {
    * {
    @include HelveticaMdCn;
    font-size:0.8rem;
    }
  }
}

#modal-masthead {
  margin-bottom:1rem;
}

/*******   modal pages ********/
//registration
#registration-method-bar {
font-size:3rem;
}