#orb-stage-menu-header-container {
  background-color : $xtreme-red;
}

.orb-card-stage-menu-header {
  overflow: hidden;
 // & * { overflow:hidden;}
  height : $orb-card-stage-menu-item-height;
  width  : $orb-card-stage-menu-width;
  h2, ul {
    padding-left     : $orb-card-stage-menu-padding-left;
    background-color : $xtreme-red;
    margin           : 0;
  }
  &.slide-left {
    -webkit-transform: translate(-1 * $orb-card-stage-menu-width, 0);
    -moz-transform: translate(-1 * $orb-card-stage-menu-width, 0);
    -o-transform: translate(-1 * $orb-card-stage-menu-width, 0);
    transform: translate(-1 * $orb-card-stage-menu-width, 0);
  }
  &.slide-right {
    -webkit-transform: translate($orb-card-stage-menu-width, 0);
    -moz-transform: translate($orb-card-stage-menu-width, 0);
    -o-transform: translate($orb-card-stage-menu-width, 0);
    transform: translate($orb-card-stage-menu-width, 0);
  }
}

.orb-card-stage-menu {
  overflow-y : scroll;
  overflow-x : hidden;
  height     : $orb-card-stage-menu-height;
  width      : $orb-card-stage-menu-width;
  @include grey_scroll;
  li {
    position     : relative;
    padding-left : $orb-card-stage-menu-padding-left;
    height       : $orb-card-stage-menu-item-height;
    box-shadow   : inset 15px -5px 8px $black-a33;
    cursor       : pointer;
  }
}

.orb-opt li {
  box-shadow        : none;
  background-color  : transparent;
  margin            : 0;
  width             : $orb-opt-icon-button-width;
  height            : $orb-card-stage-menu-item-height;
  float             : right;
  padding           : $orb-opt-icon-full-padding;
  background-size   : auto;
  background-repeat : no-repeat;
  &:hover, &.active { background-color : transparent; }
  &.orb-opt-coverage {
    color   : $white;
    opacity : 0.33;
  }
  &:last-of-type {
    float : left;
    width : $orb-opt-text-width;
  }
}

.orb-opt.active li.orb-opt-coverage {
  opacity : 1;
  &:hover { color : $xtreme-red; }
  &.active { color : $dark-grey; }
}

ul.portionable li.orb-opt-coverage {
  &.full, &.right-side, &.left-side { display:none; }
}
#orb-opt-filters {
    width            : $orb-card-stage-menu-width;
    height           : $orb-card-stage-menu-item-height;
    padding          : $tight-padding;
    padding-left     : $orb-opt-filter-padding-left;
    overflow:hidden;
    z-index:8010;
    background-color: transparent !important;
  li {
    cursor:pointer;
    float:left;
    overflow:hidden;
    background-color : transparent;
    width            : $orb-opt-filter-button-width;
    height           : $orb-opt-filter-button-height;
    &:hover { color:lighten($xtreme-red, 35%);}
  }
}


.orb-opt-configure-header {
  background-color : $xtreme-red;
  padding          : $tight-padding + 0.25 * $h3-font-size  0 $tight-padding $base-padding;
  line-height      : $h3-font-size;
}

li#orb-opt-filters-all {
  height: $orb-opt-filter-all-height;
  margin: $tight-padding 0;
  width: $orb-opt-filter-all-width;
  transform: translate($orb-opt-filter-all-transform-width, 0);
  border-top-left-radius: $global-radius;
  border-bottom-left-radius: $global-radius;
  padding: $tight-padding;
  padding-left: rem-calc(2px);
  background-color:$white;
  box-shadow: -3px 0 3px $black-a25;
  color: $xtreme-red;
  &:hover {
    transform: translate(0, 0);
    span { color: $xtreme-red; }
  }

  ul, span {
    vertical-align:top;
    padding:0;
    margin:0;
    display:inline-block;
    height: $orb-opt-filter-all-height;
  }
  ul {
    width:5rem;
    background-color:transparent;
    padding-left:$tight-padding;
    li {
      width:inherit;
      display:block;
      height: $orb-opt-filter-all-inner-height / 2;
    }
  }
}